---
layout: page
title: ACG
header: ACG in Neverland
description: "This page shows a list of anime&comic&game blog."
group: navigation
---
<ul class="tag_box categories inline">
    {% assign categories_list = site.data.i18n['en'].n_acg %}
    {% assign categories_path = 'ACG/' %}
    {% include helpers/categories_list_neverland.html %}
</ul>

{% assign categories_list = site.data.i18n['en'].n_acg %}
{% for category in categories_list %}
	<h3 id="{{ category }}">{{ category }}</h3>
    <ul class="post-list">
        {% assign pages_list = site.categories[category] %}
    	{% include helpers/pages_list.html %}
	</ul>
{% endfor %}