<section class="comment-area">
  <div class="comment-wrapper">
    {% if site.disqus.shortname %}
    <div id="disqus_thread" class="article-comments"></div>
    <script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.disqus.shortname }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>
</section> <!-- End Comment Area -->

<!--
// <script>
//     $(document).ready(function () {
//         var disqusPublicKey = "{{ site.disqus.public_key }}";
//         var disqusShortname = "{{ site.disqus.shortname }}";
//         var threadUrl = 'link:' + $('.comments .show-hidden').attr('data-disqus-url');

//         $.ajax({
//             type: 'GET',
//             url: 'https://disqus.com/api/3.0/trends/listThreads.json',
//             data: {
//                 api_key: disqusPublicKey,
//                 forum: disqusShortname,
//                 thread: threadUrl
//             },
//             cache: false,
//             dataType: 'json',
//             success: function (result) {
//                 if (result.response.length === 1) {
//                     btnText = '{{ site.data.i18n[site.lang].show_comments }} (' + result.response[0].posts + ')';
//                     $('.comments .show-hidden').html(btnText);
//                 }
//             }
//         });

//         $('.comments .show-hidden').on('click', function () {
//             //$.ajaxSetup({cache: true});
//             $.getScript('//' + disqusShortname + '.disqus.com/embed.js');
//             //$.ajaxSetup({cache: false});
//             $(this).remove();
//         });

//         if (/\#comments/.test(location.hash)) {
//             $('.comments .show-hidden').trigger('click');
//         }
//     });
// </script>
-->